
<table border="1" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>PatientName</th>
      <th>PostalAddress</th>
      <th>DateOfBirth</th>
	    <th>MailId</th>
      <th>PhoneNo</th>
      <th>MaritalStatus</th>
	  <th>MedicalHistory</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" valign="top">
      <td>{{ patient.id }}</td>
      <td>{{patient.patientName.firstName}}&nbsp;{{patient.patientName.lastName}} </td>
      <td>{{patient.postalAddress.line1}}<br>
          {{patient.postalAddress.line2}}<br>
          {{patient.postalAddress.city}}, {{patient.postalAddress.state}}<br>
          {{patient.postalAddress.zip}}
      </td>
      <td>{{ patient.dateOfBirth }}</td>
	    <td>{{ patient.mailId }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.maritalStatus }}</td>
      <td>{{ patient.medHistory }}</td>
    </tr>
  </tbody>
</table>

<!--
<ng2-smart-table 
    [settings]="settings" 
    [source]="patients">
</ng2-smart-table>
-->